
AndroidStudioProjects/AndroidService/.idea/codeStyles/Project.xml
AndroidStudioProjects/AndroidService/.idea/gradle.xml
AndroidStudioProjects/AndroidService/.idea/misc.xml
AndroidStudioProjects/AndroidService/.idea/runConfigurations.xml
AndroidStudioProjects/HelloWorld/.idea/gradle.xml
AndroidStudioProjects/HelloWorld/.idea/misc.xml
